* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2 { position:relative; }
h2 span, div span#video-group__title { position:absolute; top: -78px;
}

@media (max-width: 767px) {
    h2 { position:relative; }
    h2 span, div span#video-group__title { position:absolute; top: -52px;
    }
}

@media (max-width: 770px) {
    h2 { position:relative; }
    h2 span, div span#video-group__title { position:absolute; top: -141px;
    }
}

@media (max-width: 1050px) {
    h2 { position:relative; }
    h2 span, div span#video-group__title { position:absolute; top: -110px;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFDE40;
}

main {
    width: 100%;
}

.header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    top: 0;
    background-color: #FFDE40;
    z-index: 10;
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    padding: 0 17px;
    margin: 0 auto;
}

.header__logo {
    width: 158px;
    height: 45px;
}

.header__ul {
    height: 78px;
    max-width: 772px;
    display: flex;
    flex-wrap: wrap;
    padding: 23px 20px;
    justify-content: center;
}

.header__ul-item {
    white-space: nowrap;
    cursor: pointer;
    margin-right: 16px;
}

.header__ul-item:last-child {
    margin: 0;
}

.header__ul-item a{
    text-decoration: none;
    font-family: YandexSansTextRegular-600;
    color: #21201f;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: YandexSansTextRegular-600;
    color: #ffffff;
    font-size: 20px;
    line-height: 45px;
    white-space: nowrap;
    border-radius: 18px;
    padding: 0 12px;
    background: #21201F;
    width: 176px;
    min-width: 105px;
    height: 45px;
}

.header__button:hover, .hero-group__box__button:hover {
    background: #000000;
}

.hero-group {
    max-width: 100%;
}

.hero-group__box {
    position: relative;
    margin: 0 auto;
    margin-top: 147px;
    width: 100%;
    max-width: 954px;
    padding: 146px 17px 0;
}

.hero-group__box__name-visibility {
    visibility: hidden;
}

.hero-group__box__img-name {
    position: relative;
    width: 100%;
    height: 286px;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1527204/17f17107-06f4-4695-b5b3-340eb70251dc/orig);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left top;
}

.hero-group__box__text {
    padding-top: 119px;
    max-width: 550px;
    font-weight: 600;
    color: #21201F;;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-900;
    font-size: 36px;
    line-height: 39.6px;
}

.hero-group__box__img {
    position: absolute;
    width: 466px;
    height: 568px;
    top: 71px;
    right: 17px;
}

.hero-group__box__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: YandexSansTextRegular-600;
    width: 361px;
    height: 80px;
    margin: 32px 0 0;
    color: #ffffff;
    background: #21201F;
    font-size: 24px;
    text-decoration: none;
    border-radius: 24px;
}

.town-group {
    max-width: 100%;
}

.town-group__box {
    margin: 0 auto;
    max-width: 954px;
    width: 100%;
}

.town-group__box__town-box {
    position: relative;
    max-width: 797px;
}

.town-group__box__town-name {
    position: relative;
    max-width: 831px;
}

.town-group__box__town-text {
    min-width: 100%;
    padding: 67px 17px 48px;
    font-weight: 600;
    color: #21201F;
    letter-spacing: normal;
    line-height: 70px;
    font-family: YandexSansTextRegular-900;
    font-size: 64px;
}

.town-group__box__town-img {
    width: 115px;
    height: 76px;
    position: absolute;
    right: 0;
    top: 15px;
}

.town-group__box__town-links {
    display: flex;
    flex-wrap: wrap;
    padding: 0 17px;
    margin-bottom: 70px;
}

.town-group__box__town-link {
    margin: 0 16px 16px 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: YandexSansTextRegular-600;
    border-radius: 16px 16px 16px 16px;
    border: 2px dashed #333333;
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    padding: 0 32px;
    height: 48px;
}

.town-group__box__town-link:hover {
    border: 2px dashed #000000;
    color: #000000;
}

.town-group__box__town-links a:nth-child(3) {
    border: 3px solid #000000;
    color: #000000;
}

.steps-group {
    max-width: 100%;
}

.steps-group__box {
    margin: 0 auto;
    max-width: 954px;
    padding: 0 17px 48px;
}

.steps-group__box__box-items {
    display: flex;
    justify-content: space-between;
}

.steps-group__box__title {
    padding-top: 42px;
    font-weight: 600;
    color: #21201F;
    font-family: YS Text, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 70px;
    font-family: YandexSansTextRegular-900;
    font-size: 64px;
    margin-bottom: 97px;
}

.steps-group__box__box-items__card {
    font-weight: 600;
    color: #21201F;
    letter-spacing: normal;
    line-height: 39px;
    padding-top: 144px;
    font-family: YandexSansTextRegular-900;
    background-repeat: no-repeat;
    background-position: top left;
    font-size: 36px;
}

.steps-group__box__box-items__card:first-child {
    padding-bottom: 96px;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/403342/f97c3e9b-721d-4a02-b144-2e5a0a368654/orig);
    background-size: 362px auto;
}

.steps-group__box__box-items__card:nth-child(2) {
    padding-bottom: 96px;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1370085/80de62cf-bad2-4b16-ae0a-00f66cf01e80/orig);
    background-size: 112px auto;
}

.steps-group__box__box-items__card:last-child {
    position: relative;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1370085/c0430b62-e7b0-48b2-9f8e-757dcfaee867/orig);
    background-size: 362px auto;
}

.steps-group__box__box-items__card-image {
    content: "";
    display: block;
    width: 345px;
    height: 357px;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1364677/218f6fb2-1e57-4039-8eac-f0122a8e929f/orig);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left top;
    position: absolute;
    left: 389px;
    top: 56px;
}

.steps-group__box__box-items__cards {
    max-width: 455px;
}

.steps-group__box__box-items__video {
    width: 362px;
    height: 647px;
}

.steps-group__box__text-box {
    max-width: 954px;
    padding: 50px 64px;
    border-radius: 56px;
    background: #21201f;
    margin-top: 188px;
}

.steps-group__box__text {
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: normal;
    line-height: 44px;
    font-family: YandexSansTextRegular-900;
    font-size: 40px;
}

.items-group {
    max-width: 100%;
}

.items-group__box {
    margin: 0 auto;
    max-width: 1142px;
    padding: 0 17px;
}

.items-group__box__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items-group__box > div {
    max-width: 1014px;
    margin: 0 0 0 auto;
}

.items-group__box > div:last-child {
    margin-top: 34px;
}

.items-group__box__cards__card {
    border-radius: 56px;
    padding: 72px 56px;
}

.items-group__box__cards div:first-child {
    max-width: 517px;
    max-height: 395px;
    width: 50.9%;
    border: 5px solid #21201f;
    margin-right: 10px;
    margin-bottom: 40px;
}

.items-group__box__cards div:nth-child(2) {
    margin-top: 93px;
    max-width: 464px;
    width: 45.7%;
    border: 5px solid #21201f;
}

.items-group__box__cards div:last-child {
    margin-top: -97px;
    max-width: 517px;
    width: 50.9%;
    background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='56' ry='56' stroke='%23000000FF' stroke-width='9' stroke-dasharray='11%2c 22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.items-group__box__cards__card-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 32px;
}

.items-group__box__cards__card-title {
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-900;
    font-size: 36px;
    line-height: 38.52px;
}

.items-group__box__cards__card-text {
    padding-top: 32px;
    font-weight: 500;
    color: #21201f;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-600;
    font-size: 22px;
    line-height: 26.4px;
}

.items-group__box__cards div:nth-child(2) p:last-child {
    padding-top: 0;
}

.items-group__button {
    display: none;
}

.items-group__box__cards-footer {
    display: flex;
    justify-content: end;
    position: relative;
}

.items-group__box__cards-footer__image {
    width: 45.7%;
    margin-left: auto;
    margin-top: -238px;
    margin-bottom: 96px;
    border: 5px solid #21201f;
    background: #21201f;
    border-radius: 56px;
    overflow: hidden;
}

.items-group__box__cards-footer__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 680px;
    background-color: #21201f;
    border-radius: 56px;
    padding: 79px 59px;
    z-index: -1;
}

.items-group__box__cards-footer__card-title {
    font-weight: 600;
    color: #ffffff;
    letter-spacing: normal;
    max-width: 438px;
    margin: 0;
    font-family: YandexSansTextRegular-900;
    font-size: 36px;
    line-height: 38.52px;
}

.items-group__box__cards-footer__card-text {
    font-weight: 500;
    color: #ffffff;
    letter-spacing: normal;
    max-width: 438px;
    font-family: YandexSansTextRegular-600;
    padding-top: 32px;
    font-size: 22px;
    line-height: 26.4px;
}

.about-plus-group {
    padding: 128px 0 256px;
    border-radius: 56px 56px 0 0;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1220100/c037c01e-64d2-48df-811b-d149f760df61/orig), url(https://avatars.mds.yandex.net/get-lpc/1520633/9096a05f-4bc8-450a-80ab-68f4b8cb28a4/orig);
    background-repeat: no-repeat;
    background-size: 513px auto, 100%;
    background-position: top 84px left calc(50% + 385px), center bottom;
    position: relative;
    margin-top: 128px;
    max-width: 100%;
    margin-bottom: -128px;
}

.about-plus-group__box {
    margin: 0 auto;
    max-width: 954px;
    padding: 0 17px;
}

.about-plus-group__box__title {
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-900;
    font-size: 84px;
    line-height: 88px;
    max-width: 600px;
}

.about-plus-group__box__text {
    font-weight: 500;
    color: #21201f;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-600;
    font-size: 32px;
    line-height: 41.6px;
    padding-top: 32px;
    max-width: 700px;
}

.about-plus-group__box__items {
    display: flex;
    margin-top: 64px;
}

.about-plus-group__box__items__item {
    width: 460px;
}

.about-plus-group__box__items__item-title {
    font-weight: 600;
    color: #21201f;letter-spacing: normal;
    font-family: YandexSansTextRegular-900;
    font-size: 32px;
    line-height: 32px;
}

.about-plus-group__box__items__item-text {
    margin-top: 8px;
    font-weight: 500;
    color: #21201f;letter-spacing: normal;
    font-family: YandexSansTextRegular-600;
    font-size: 22px;
    line-height: 28.6px;
}

.video-group{
    max-width: 100%;
}

.video-group__box {
    position: relative;
    background-color: #FFDE40;
    border-radius: 56px 56px 0 0;
    width: 100%;
    padding: 146px 0 0;
}

.video-group__box__video {
    z-index: 3;
    position: relative;
    width: 734px;
    margin-right: calc((100% - 1106px) / 2);
    margin-left: auto;
    margin-bottom: -95px;
}

.video-group__box__video__button-left {
    opacity: 0.5;
    cursor: auto;
    position: absolute;
    top: 50%;
    left: calc(50% - 270px);
    margin-top: 38px;
    width: 64px;
    height: 64px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1220100/e071c1d4-e139-498e-8e16-b8ee82823012/orig);
}

.video-group__box__video__button-right {
    cursor: pointer;
    position: absolute;
    right: calc(50% - 641px);
    top: 50%;
    margin-top: 38px;
    width: 64px;
    height: 64px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1220100/e071c1d4-e139-498e-8e16-b8ee82823012/orig);
    transform: rotate(180deg);
}

.video-group__box__video__cards {
    display: flex;
}

.video-group__box__video__cards-box {
    width: 100%;
    max-width: 734px;
    margin: 0 auto;
    overflow: hidden;
}

.video-group__box__video__cards__card {
    width: 100%;
    border-radius: 32px;
    margin-right: 34px;
}

.video-group__box__video__items {
    width: 160px;
    position: absolute;
    left: calc(50% - 80px);
    bottom: -30px;
    display: flex;
}

.video-group__box__video__items__item {
    margin: 0 4px;
    width: 8px;
    height: 8px;
    background: #808080;
    opacity: 0.6;
    border-radius: 50%;
}

.video-group__box__video__items__item:first-child {
    background-color: #21201f;
    opacity: 1;
}

#video-group__title {
    visibility: hidden;
}

.content-group {
    max-width: 100%;
}

.content-group__box {
    max-width: 1013px;
    margin-top: 0;
    margin-left: calc((100% - 1106px)/2);
    margin-right: auto;
}

.content-group__box__box-content {
    position: sticky;
    z-index: 2;
    background: #ffffff;
    padding: 149px 0 147px 93px;
    border-radius: 56px;
}

.content-group__box__text-title {
    font-family: YandexSansTextRegular-900;
    line-height: 70.4px;
    font-size: 64px;
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
}

.content-group__box__text {
    font-weight: 500;
    font-size: 22px;
    color: #21201F;
    font-family: YS Text, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 120%;
    width: 460px;
    padding: 16px 0 71px;
}

.content-group__box__text a {
    color: #21201F;
    padding-left: 0.2em;
}

.content-group__box__text a:hover {
    opacity: 0.6;
}

.content-group__box__card-icon {
    width: 83px;
    height: 83px;
    margin-bottom: 24px;
}

.content-group__box__cards {
    display: flex;
    flex-wrap: wrap;
}

.content-group__box__cards__card {
    max-width: 362px;
    margin-right: 93px;
    margin-bottom: 68px;
    width: 50%;
}

.content-group__box__card-title {
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
    font-size: 36px;
    font-family: YandexSansTextRegular-900;
    line-height: 39.6px;
}

.content-group__box__card-text {
    font-weight: 500;
    color: #21201f;
    letter-spacing: normal;
    font-size: 22px;
    font-family: YandexSansTextRegular-600;
    line-height: 28px;
    margin-top: 16px;
}

.help-group { max-width: 100%;
    position: relative;
    z-index: 3;
    background-color: #BFFFCD;
    width: 652px;
    padding: 85px 94px;
    border-radius: 56px;
    margin-top: -115px;
    margin-right: calc((100% - 1106px)/2);
    margin-left: auto;
    margin-bottom: 128px;
}

.help-group__icon {
    content: "";
    width: 112px;
    height: 112px;
    display: block;
    position: absolute;
    top: -53px;
    left: 94px;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1527204/e5defd8c-21da-4597-beb9-838f435304a6/orig);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.help-group__text {
    font-weight: 500;
    color: #21201F;
    font-family: YS Text, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    font-size: 32px;
    line-height: 42px;
}

.map-group { max-width: 100%;
    background: #ffffff;
    padding: 128px 0 30px;
    border-radius: 56px 56px 0 0;
}

.map-group__box {
    padding: 0 17px;
    margin: 0 auto;
    max-width: 954px;
    width: 100%;
    position: relative;
}

.map-group__box__text-title {
    font-family: YandexSansTextRegular-900;
    line-height: 70.4px;
    font-size: 64px;
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
}

.map-group__box__text {
    font-family: YandexSansTextRegular-600;
    line-height: 41.6px;
    font-size: 32px;
    margin: 0;
    padding: 32px 0 72px;
}

.map-group__box__image {
    width: 100%;
    max-width: 920px;
    margin: 0 auto;
}

.map-group__box__image img {
    width: 100%;
}

.download-group { max-width: 100%;
    background: #ffffff;
    padding: 100px 0 0;
}

.download-group__button {
    display: none;
}

.download-group__box__box-content {
    padding: 0 17px;
    margin: 0 auto;
    max-width: 954px;
    width: 100%;
    position: relative;
}

.download-group__box__box-content__text-title {
    max-width: 455px;
    margin: 0;
    font-family: YandexSansTextRegular-900;
    line-height: 70.4px;
    font-size: 64px;
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
}

.download-group__box__box-content__text {
    max-width: 455px;
    font-family: YandexSansTextRegular-600;
    line-height: 41.6px;
    font-size: 32px;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 48px;
}

.download-group__box__box-content__QR {
    width: 202px;
    height: 202px;
    margin-bottom: 160px;
}

.download-group__box {
    max-width: 1106px;
    margin: 0 auto;
    position: relative;
}

.download-group__box__box-black {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 548px;
    height: 183px;
    border-radius: 56px 56px 0 0;
    background-color: #21201F;
}

.download-group__box__box-yelloy {
    width: 1063px;
    height: 108px;
    border-radius: 56px 56px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFDE40;
}

.download-group__box__box-content__picture {
    width: 362px;
    position: absolute;
    bottom: 0;
    right: 17px;
}

footer {
    width: 100%;
    background: #fafafa;
    padding: 56px 0;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 954px;
    width: 100%;
    padding: 0 17px;
    margin: 0 auto;
    font-weight: 500;
    color: #21201f;
    font-family: YandexSansTextRegular-600;
    letter-spacing: normal;
    line-height: 16px;
    font-size: 13px;
}

.footer__left-box div:first-child a {
    text-decoration: none;
    color: #21201f;
}

.footer__left-box {
    max-width: calc(100% - 280px);
    width: 600px;
    margin-right: 20px;
}

.footer__left-box div:last-child {
    margin-top: 1.25em;
}

.footer__left-box div:last-child a {
    color: #21201f;
}

.footer__right-box {
    height: 22px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.footer__right-box span:nth-child(2) {
    margin: 0 0.3em;
    flex-shrink: 0;
}

@media (max-width: 319px) {
    h2.about-plus-group__box__title {
        font-size: 28px;
        line-height: 28px;
        padding-right: 0;
    }
}

@media (max-width: 320px) {
    div.steps-group__box__box-items__card:first-child, div.steps-group__box__box-items__card:last-child {
        background-size: 100% auto !important;
    }
}

@media (max-width: 340px) {
    div.about-plus-group__box-header {
        background-size: 214px auto;
        background-position: left 24px bottom;
        padding: 0 24px 201px;
    }

    div.content-group__box__box-content > div {
        padding: 0 10px 0 24px;
    }

    div.content-group__box__cards__card {
        margin-right: 0;
    }

    .content-group__box__box-content > div:first-child {
        padding: 0 24px;
    }

    div.content-group__box__text {
        max-width: 100%;
    }

    h3.content-group__box__card-title {
        font-size: 24px;
        line-height: 27px;
    }
}

@media (max-width: 767px) {
    .header__box {
        height: 52px;
        }

    .header__logo {
        width: 105px;
        height: 30px;
    }

    section div.hero-group__box {
        margin-top: 104px;
    }

    .header__ul {
        display: none;
    }

    .header__button {
        margin-left: 5px;
        height: 30px;
        padding: 0 9px;
        line-height: 27px;
        width: 125px;
        font-size: 14px;
    }

    .hero-group__box {
        padding: 32px 17px 0;
    }

    .hero-group__box__img-name {
        width: 100%;
        height: 37.28vw;
        margin-bottom: 63vw !important;
        background-size: 100% auto;
    }

    .hero-group__box__text {
        padding-top: 32px;
        max-width: 100%;
        font-size: 28px;
        line-height: 30.8px;
    }

    .hero-group__box__img {
        width: 63.2vw;
        height: 78vw;
        top: calc(22.7vw + 32px) !important;
        left: calc(6.1vw + 17px) !important;
    }

    .hero-group__box__button {
        font-size: 18px;
        line-height: 49px;
        height: 50px;
        margin: 19px 0 0;
        border-radius: 16px;
        max-width: 239px;
    }

    .town-group__box__town-text {
        padding: 56px 0 24px;
        max-width: 311px;
        font-size: 32px;
        line-height: 34px;
    }
    .town-group__box__town-img {
        width: 69px;
        height: 71px;
        top: 12px;
    }

    .town-group__box__town-box {
        max-width: 311px;
        margin-left: 17px;
    }

    .town-group__box__town-link {
        margin: 0 8px 8px 0;
        border-radius: 12px;
        padding-left: 24px;
        padding-right: 24px;
        font-size: 16px;
        line-height: 36px;
        height: 37px;
    }

    .download-group {
        padding: 2px 0 56px;
    }

    .town-group__box__town-links {
        margin-bottom: 48px;
    }

    .steps-group__box__title {
        padding-top: 1px;
        margin-bottom: 32px;
        font-size: 36px;
        line-height: 39.6px;
    }

    .steps-group__box__box-items {
        flex-wrap: wrap;
        max-width: 400px;
    }

    .steps-group__box__box-items__video {
        margin-bottom: 32px;
        order: -1;
        width: 100%;
        height: auto;
    }

    .steps-group__box__box-items__card {
        max-width: 341px;
        padding-bottom: 48px;
        background-size: 286px auto !important;
        padding-top: 104px;
        font-size: 28px;
        line-height: 30.8px;
    }

    .steps-group__box__box-items__card:first-child {
        padding-bottom: 48px;
    }

    .steps-group__box__box-items__card:nth-child(2) {
        padding-bottom: 48px;
        background-size: 88px auto  !important;
    }

    .steps-group__box__box-items__card:last-child {
        background-size: 286px auto !important;
        padding-bottom: 208px;
    }

    .steps-group__box__box-items__card p {
        word-break: break-word;
    }

    .steps-group__box__box-items__card:last-child p {
        max-width: 230px;
    }

    .steps-group__box__box-items__card-image {
        width: 218px;
        height: 319px;
        background-image: url(https://avatars.mds.yandex.net/get-lpc/1520633/b7be239e-d2be-43be-b481-59368d488d32/orig);
        left: 53px;
        top: 116px;
    }

    .steps-group__box {
        padding: 0 17px 24px;
    }

    .steps-group__box__text-box {
        margin-top: 24px;
        padding: 24px;
        border-radius: 32px;
    }
    
    .steps-group__box__text {
        font-size: 28px;
        line-height: 30.8px;
        max-width: 400px;
        text-align: left;
        margin-left: 0;
    }

    div.items-group__button {
        position: relative;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
        max-width: 100%;
        margin: 16px auto 0;
        height: 64px;
    }
    
    .items-group__button__button-left {
        position: absolute;
        margin-top: 0;
        top: 0;
        left: calc(50% - 72px);
        right: auto;
        opacity: 0.5;
        cursor: auto;
        width: 64px;
        height: 64px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url(https://avatars.mds.yandex.net/get-lpc/1220100/e071c1d4-e139-498e-8e16-b8ee82823012/orig);
    }
    
    .items-group__button__button-right {
        position: absolute;
        margin-top: 0;
        top: 0;
        right: calc(50% - 72px);
        left: auto;
        cursor: pointer;
        width: 64px;
        height: 64px;
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-image: url(https://avatars.mds.yandex.net/get-lpc/1220100/e071c1d4-e139-498e-8e16-b8ee82823012/orig);
        transform: rotate(180deg);
    }

    .items-group__box__cards-box {
        overflow: hidden;
    }

    .items-group__box__cards {
        width: 100%;
        flex-wrap: nowrap;
    }

    div.items-group__box__cards > div.items-group__box__cards__card {
        min-width: 100%;
        width: 100%;
        margin: 0 34px 0 0;
    }

    div.items-group__box__cards div:first-child {
        border-radius: 32px;
        border: 4px solid #21201f;
        padding: 32px 24px;
    }

    div.items-group__box__cards div:nth-child(2) {
        border-radius: 32px;
        border: 4px solid #21201f;
        padding: 32px 24px;
    }

    div.items-group__box__cards div:last-child {
        padding: 32px 24px;
        border-radius: 32px;
        border: 4px dashed #21201f;
        background: none;
    }
    
    img.items-group__box__cards__card-icon {
        width: 50px;
        height: 50px;
        max-width: 400px;
        margin-bottom: 16px;
    }

    h3.items-group__box__cards__card-title {
        font-size: 26px;
        line-height: 28px;
        max-width: 400px;
    }

    p.items-group__box__cards__card-text {
        font-size: 18px;
        line-height: 21.6px;
        max-width: 400px;
        padding-top: 16px;
    }

    .items-group__box div.items-group__box__cards-footer {
        margin-top: 55px;
        flex-direction: column;
    }

    img.items-group__box__cards-footer__image {
        width: 100%;
        max-width: 100%;
        padding: 0 0 10px;
        margin-left: auto;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        border: 5px solid #21201f;
        background: #21201f;
        border-radius: 32px 32px 0 0;
    }

    div.items-group__box__cards-footer__card {
        position: relative;
        margin-top: -39px;
        width: 100%;
        max-width: 100%;
        border-radius: 30px;
        padding: 48px 24px;
        z-index: 2;
    }

    h3.items-group__box__cards-footer__card-title {
        max-width: 438px;
        margin: 0;
        font-size: 26px;
        line-height: 28px;
    }

    p.items-group__box__cards-footer__card-text {
        max-width: 438px;
        padding-top: 16px;
        font-size: 18px;
        line-height: 21.6px;
    }

    div.content-group__box__box-content {
        margin: 56px 17px 0;
        padding: 32px 0 111px;
        width: calc(100% - 34px);
        border-radius: 32px 32px 0px 0px;
    }

    .content-group__box__text-title {
        font-size: 36px;
        line-height: 39.6px;
        max-width: 220px;
    }

    .content-group__box__text {
        padding-bottom: 0px;
        max-width: 240px;
        font-size: 18px;
        word-wrap: break-word;
    }

    .content-group__box__text span:first-child {
        display: block;
    }

    .content-group__box__text a {
        padding-left: 0;
    }

    div.content-group__box__box-content > div {
        padding: 0 24px;
    }

    div.content-group__box__cards__card {
        position: relative;
        width: 100%;
        margin-top: 34px;
        margin-bottom: 0;
        margin-right: 0;
        padding: 0;
        max-width: 350px;
    }

    .content-group__box__card-icon {
        position: absolute;
        top: 6px;
        left: 0;
        width: 48px;
        height: 48px;
    }

    .content-group__box__card-title {
        font-size: 28px;
        line-height: 30.8px;
        padding-left: 64px;
    }

    .content-group__box__card-text {
        margin-top: 13px;
        font-size: 18px;
        line-height: 21.6px;
        letter-spacing: 0.22px;
    }

    .help-group {
        width: calc(100% - 34px);
        padding: 50px 24px 30px;
        border-radius: 32px;
        margin-top: -30px;
        margin-right: 17px;
        margin-left: 17px;
        margin-bottom: 56px;
    }

    .help-group__icon {
        width: 86px;
        height: 86px;
        top: -47px;
        left: 25px; 
    }
    
    .help-group__text {
        font-size: 22px;
        line-height: 26px;
        letter-spacing: -0.33px;
    }

    .map-group {
        padding: 56px 0 32px;
        border-radius: 32px 32px 0 0;
    }

    .map-group__box__text-title {
        font-size: 36px;
        line-height: 40px;
    }

    .map-group__box__text {
        line-height: 26px;
        font-size: 22px;
        padding: 16px 0 32px;
    }

    .map-group__box__image {
        padding: 0 17px;
    }

    .download-group__box {
        display: none;
    }

    .download-group__button {
        margin-left: 17px;
        align-items: center;
        justify-content: center;
        width: 239px;
        height: 50px;
        display: flex;
        font-family: YandexSansTextRegular-600;
        padding: 0 15px;
        text-decoration: none;
        font-weight: 500;
        color: #ffffff;
        background-color: #21201f;
        border-radius: 16px 16px 16px 16px;
        border: none;
        font-size: 18px;
    }

    section.about-plus-group {
        width: calc(100% - 34px);
        padding: 31px 0 35px;
        border-radius: 32px;
        background: url(https://avatars.mds.yandex.net/get-lpc/1520633/c2d60aa8-7b57-43e1-b39b-efd21578fe81/orig);
        background-size: cover;
        background-position: center bottom;
        position: relative;
        margin: 56px 17px 0;
    }

    .about-plus-group__box-header {
        padding: 0 24px 278px;
        background-image: url(https://avatars.mds.yandex.net/get-lpc/1527204/6ad24889-ffd2-4c12-9db5-9f8f8968adf3/orig);
        background-size: 278px auto;
        background-repeat: no-repeat;
        background-position: left 24px bottom;
    }

    .about-plus-group__box {
        padding: 0;
    }

    .about-plus-group__box__items {
        margin: 26px 24px 0;
        flex-direction: column;
    }

    div.about-plus-group__box__items__item {
        width: 100%;
        max-width: 400px;
    }

    .about-plus-group__box__items__item:first-child {
        margin-bottom: 28px;
    }

    .about-plus-group__box__items__item-title {
        font-size: 28px;
        line-height: 28px;
    }

    .about-plus-group__box__items__item-text {
        margin-top: 11px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.22px;
    }

    .about-plus-group__box__title {
        font-size: 36px;
        line-height: 39px;
        max-width: 400px;
        padding-right: 20px;
    }

    .about-plus-group__box__text {
        font-size: 22px;
        line-height: 26px;
        font-weight: 500;
        letter-spacing: 0.24px;
        padding: 23px 0 0;
        max-width: 400px;
    }

    .video-group__box {
        padding: 56px 0 24px;
    }

    .video-group__box__video {
        padding: 0 17px;
        margin: 0 auto;
        width: auto;
    }
    
    div.video-group__box__video__button-left {
        left: calc(50% - 72px) !important;
        right: auto;
        margin-top: 56px;
        top: 0;
        width: 64px !important;
        height: 64px !important;
    }
    
    div.video-group__box__video__button-right {
        right: calc(50% - 72px) !important;
        left: auto;
        margin-top: 56px;
        top: 0;
        width: 64px !important;
        height: 64px !important;
    }

    .footer {
        flex-wrap: wrap;
    }

    .footer__left-box {
        max-width: 100%;
        margin: 0;
    }

    .footer__right-box {
        margin-top: 12px;
    }

    .footer__right-box span:nth-child(2) {
        text-align: left;
    }
}

@media (max-width: 770px) {
    .header__ul {
    height: 141px;
    }
}

@media (max-width: 979px) {
    .about-plus-group {
        background-size: 380px auto, cover;
        background-position: top 84px left calc(50% + 317px), center bottom;
    }

    .about-plus-group__box__items {
        justify-content: space-between;
    }

    .about-plus-group__box__items__item {
        width: calc(50% - 10px);
    }
}

@media (max-width: 1000px) {
    div.video-group__box__video__button-left {
        left: 5px;
        right: auto;
        width: 44px;
        height: 44px;
        z-index: 4;
    }
    
    div.video-group__box__video__button-right {
        right: 5px;
        width: 44px;
        height: 44px;
        z-index: 4;
    }

    div.video-group__box__video {
        margin-right: auto;
    }
}

@media (max-width: 1005px) {
    .download-group__box__box-content__picture {
        width: calc(100% - 500px);
    }

    .download-group__box__box-black {
        right: 25px;
        height: 160px;
    }
    
    .download-group__box__box-yelloy {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .hero-group__box__img-name {
        margin-bottom: 430px;
    }

    .hero-group__box__img {
        top: 346px;
        left: 57px;
    }
}

@media (max-width: 1050px) {
    .header__ul {
    height: 110px;
    }

    div.hero-group__box {
        margin-top: 179px;
    }
}

@media (max-width: 1179px) {
    .items-group__box__cards div:nth-child(2), .items-group__box__cards div:nth-child(3) {
        margin-top: 0;
    }

    .items-group__box__cards-footer__card {
        width: 60%;
    }

    .content-group__box {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }

    .content-group__box__box-content {
        padding: 149px 0 147px;
    }

    .content-group__box__box-content > div {
        margin-left: auto;
        max-width: 954px;
        padding: 0 17px;
    }

    .content-group__box__cards__card {
        margin-right: 10px;
    }

    .help-group {
        margin-right: 17px;
    }
}

@media (max-width: 1300px) {
    .video-group__box__video {
        margin-right: 100px;
    }
    
    .video-group__box__video__button-left {
        left: auto;
        right: 853px;
    }
    
    .video-group__box__video__button-right {
        right: 17px;
    }
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-light.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-thin.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-light.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-regular.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-medium.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-bold.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/display-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "YandexSansTextRegular-900";
    src: url("https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght-900.woff") format("woff");
    font-weight: 900;
}
  
@font-face {
    font-family: "YandexSansTextRegular-600";
    src: url("https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght600.woff") format("woff");
    font-weight: 600;
}