* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h2 { position:relative; }
h2 span, #video-group__title { position:absolute; top: -78px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #FFDE40;
}

main {
    width: 100%;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #FFDE40;
    z-index: 10;
}

.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    padding: 0 17px;
    margin: 0 auto;
}

.header__logo {
    width: 158px;
    height: 45px;
}

.header__ul {
    max-width: 772px;
    display: flex;
    flex-wrap: wrap;
    padding: 23px 20px;
    justify-content: center;
}

.header__ul-item {
    white-space: nowrap;
    cursor: pointer;
    margin-right: 16px;
}

.header__ul-item:last-child {
    margin: 0;
}

.header__ul-item a{
    text-decoration: none;
    font-family: YandexSansTextRegular-600;
    color: #21201f;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: YandexSansTextRegular-600;
    color: #ffffff;
    font-size: 20px;
    line-height: 45px;
    white-space: nowrap;
    border-radius: 18px;
    padding: 0 12px;
    background: #21201F;
    width: 176px;
    min-width: 105px;
    height: 45px;
}

.header__button:hover, .hero-group__box__button:hover {
    background: #000000;
}

.hero-group { 
    width: 100%;
}

.hero-group__box {
    position: relative;
    margin: 0 auto;
    margin-top: 147px;
    width: 954px;
    padding: 146px 17px 0;
}

.hero-group__box__name-visibility {
    visibility: hidden;
}

.hero-group__box__img-name {
    position: absolute;
    top: 146px;
    height: 100%;
    height: 286px;
}

.hero-group__box__text {
    position: absolute;
    top: 551px;
    max-width: 550px;
    font-weight: 600;
    color: #21201F;;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-900;
    font-size: 36px;
    line-height: 39.6px;
}

.hero-group__box__img {
    position: absolute;
    width: 466px;
    height: 568px;
    top: 71px;
    right: 17px;
}

.hero-group__box__button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: YandexSansTextRegular-600;
    width: 361px;
    height: 80px;
    margin: 529px 0 0;
    color: #ffffff;
    background: #21201F;
    font-size: 24px;
    text-decoration: none;
    border-radius: 24px;
}

.town-group {
    width: 100%;
}

.town-group__box {
    margin: 0 auto;
    width: 954px;
}

.town-group__box__town-name {
    position: relative;
    width: 831px;
}

.town-group__box__town-text {
    padding: 67px 17px 48px;
    font-weight: 600;
    color: #21201F;
    letter-spacing: normal;
    line-height: 70px;
    font-family: YandexSansTextRegular-900;
    font-size: 64px;
}

.town-group__box__town-img {
    width: 115px;
    height: 76px;
    position: absolute;
    right: 17px;
    top: 15px;
}

.town-group__box__town-links {
    display: flex;
    padding: 0 17px;
    height: 64px;
    margin-bottom: 70px;
}

.town-group__box__town-link {
    margin: 0 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: YandexSansTextRegular-600;
    border-radius: 16px 16px 16px 16px;
    border: 2px dashed #333333;
    font-weight: 600;
    font-size: 20px;
    color: #333333;
    padding: 0 32px;
    height: 48px;
}

.town-group__box__town-link:hover {
    border: 2px dashed #000000;
    color: #000000;
}

.town-group__box__town-links a:nth-child(3) {
    border: 3px solid #000000;
    color: #000000;
}

.town-group__box__town-links a:first-child {
    margin-left: 0;
}

.steps-group {
    width: 100%;
}

.steps-group__box {
    margin: 0 auto;
    max-width: 954px;
    padding: 0 17px 48px;
}

.steps-group__box__box-items {
    display: flex;
    justify-content: space-between;
}

.steps-group__box__title {
    padding-top: 42px;
    font-weight: 600;
    color: #21201F;
    font-family: YS Text, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 70px;
    font-family: YandexSansTextRegular-900;
    font-size: 64px;
    margin-bottom: 97px;
}

.steps-group__box__box-items__card {
    font-weight: 600;
    color: #21201F;
    letter-spacing: normal;
    line-height: 39px;
    padding-top: 144px;
    font-family: YandexSansTextRegular-900;
    background-repeat: no-repeat;
    background-position: top left;
    font-size: 36px;
}

.steps-group__box__box-items__card:first-child {
    padding-bottom: 96px;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/403342/f97c3e9b-721d-4a02-b144-2e5a0a368654/orig);
    background-size: 362px auto;
}

.steps-group__box__box-items__card:nth-child(2) {
    padding-bottom: 96px;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1370085/80de62cf-bad2-4b16-ae0a-00f66cf01e80/orig);
    background-size: 112px auto;
}

.steps-group__box__box-items__card:last-child {
    position: relative;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1370085/c0430b62-e7b0-48b2-9f8e-757dcfaee867/orig);
    background-size: 362px auto;
}

.steps-group__box__box-items__card-image {
    content: "";
    display: block;
    width: 345px;
    height: 357px;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1364677/218f6fb2-1e57-4039-8eac-f0122a8e929f/orig);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: left top;
    position: absolute;
    left: 389px;
    top: 56px;
}

.steps-group__box__box-items__cards {
    max-width: 455px;
}

.steps-group__box__box-items__video {
    width: 362px;
    height: 647px;
}

.steps-group__box__text-box {
    max-width: 954px;
    padding: 50px 64px;
    border-radius: 56px;
    background: #21201f;
    margin-top: 188px;
}

.steps-group__box__text {
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: normal;
    line-height: 44px;
    font-family: YandexSansTextRegular-900;
    font-size: 40px;
}

.items-group {
    width: 100%;
}

.items-group__box {
    margin: 0 auto;
    max-width: 1142px;
    padding: 0 17px 0 111px;
}

.items-group__box__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.items-group__box__cards__card {
    border-radius: 56px;
    padding: 72px 56px;
}

.items-group__box__cards div:first-child {
    max-width: 517px;
    max-height: 395px;
    width: 50.9%;
    border: 5px solid #21201f;
    margin-right: 10px;
    margin-bottom: 40px;
}

.items-group__box__cards div:nth-child(2) {
    margin-top: 93px;
    max-width: 464px;
    width: 45.7%;
    border: 5px solid #21201f;
}

.items-group__box__cards div:last-child {
    margin-top: -97px;
    max-width: 517px;
    width: 50.9%;
    background: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='56' ry='56' stroke='%23000000FF' stroke-width='9' stroke-dasharray='11%2c 22' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

.items-group__box__cards__card-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 32px;
}

.items-group__box__cards__card-title {
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-900;
    font-size: 36px;
    line-height: 38.52px;
}

.items-group__box__cards__card-text {
    padding-top: 32px;
    font-weight: 500;
    color: #21201f;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-600;
    font-size: 22px;
    line-height: 26.4px;
}

.items-group__box__cards div:nth-child(2) p:last-child {
    padding-top: 0;
}

.items-group__box__cards-footer {
    height: 322px;
    margin-top: 34px;
    position: relative;
}

.items-group__box__cards-footer__image {
    position: absolute;
    width: 45.7%;
    margin-left: auto;
    right: 0;
    margin-top: -238px;
    margin-bottom: 96px;
    border: 5px solid #21201f;
    background: #21201f;
    border-radius: 56px;
    overflow: hidden;
}

.items-group__box__cards-footer__card {
    position: absolute;
    top: 0;
    left: 0;
    width: 680px;
    background-color: #21201f;
    border-radius: 56px;
    padding: 79px 59px;
    z-index: -1;
}

.items-group__box__cards-footer__card-title {
    font-weight: 600;
    color: #ffffff;
    letter-spacing: normal;
    max-width: 438px;
    margin: 0;
    font-family: YandexSansTextRegular-900;
    font-size: 36px;
    line-height: 38.52px;
}

.items-group__box__cards-footer__card-text {
    font-weight: 500;
    color: #ffffff;
    letter-spacing: normal;
    max-width: 438px;
    font-family: YandexSansTextRegular-600;
    padding-top: 32px;
    font-size: 22px;
    line-height: 26.4px;
}

.about-plus-group {
    padding: 128px 0 256px;
    border-radius: 56px 56px 0 0;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1220100/c037c01e-64d2-48df-811b-d149f760df61/orig), url(https://avatars.mds.yandex.net/get-lpc/1520633/9096a05f-4bc8-450a-80ab-68f4b8cb28a4/orig);
    background-repeat: no-repeat;
    background-size: 513px auto, 100%;
    background-position: top 84px left calc(50% + 385px), center bottom;
    position: relative;
    margin-top: 128px;
    width: 100%;
}

.about-plus-group__box {
    margin: 0 auto;
    max-width: 954px;
    padding: 0 17px;
}

.about-plus-group__box__title {
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-900;
    font-size: 84px;
    line-height: 88px;
    max-width: 600px;
}

.about-plus-group__box__text {
    font-weight: 500;
    color: #21201f;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-600;
    font-size: 32px;
    line-height: 41.6px;
    padding-top: 32px;
    max-width: 700px;
}

.about-plus-group__box__items {
    display: flex;
    margin-top: 64px;
}

.about-plus-group__box__items__item {
    width: 460px;
}

.about-plus-group__box__items__item-title {
    font-weight: 600;
    color: #21201f;letter-spacing: normal;
    font-family: YandexSansTextRegular-900;
    font-size: 32px;
    line-height: 32px;
}

.about-plus-group__box__items__item-text {
    margin-top: 8px;
    font-weight: 500;
    color: #21201f;letter-spacing: normal;
    font-family: YandexSansTextRegular-600;
    font-size: 22px;
    line-height: 28.6px;
}

.video-group{
    position: relative;
    background-color: #FFDE40;
    margin-top: -128px;
    border-radius: 56px 56px 0 0;
    width: 100%;
    padding: 146px 0 0;
}

.video-group__box__video {
    z-index: 3;
    position: relative;
    width: 734px;
    margin-right: calc((100% - 1106px) / 2);
    margin-left: auto;
    margin-bottom: -95px;
}

.video-group__box__video__button-left {
    opacity: 0.5;
    cursor: auto;
    position: absolute;
    top: 50%;
    left: -88px;
    margin-top: -46px;
    width: 64px;
    height: 64px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1220100/e071c1d4-e139-498e-8e16-b8ee82823012/orig);
}

.video-group__box__video__button-right {
    cursor: pointer;
    position: absolute;
    right: -88px;
    top: 50%;
    margin-top: -46px;
    width: 64px;
    height: 64px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1220100/e071c1d4-e139-498e-8e16-b8ee82823012/orig);
    transform: rotate(180deg);
}

.video-group__box__video__cards {
    display: flex;
}

.video-group__box__video__cards-box {
    overflow: hidden;
}

.video-group__box__video__cards__card {
    width: 100%;
    border-radius: 32px;
    margin-right: 734px;
}

.video-group__box__video__items {
    width: 160px;
    position: absolute;
    left: calc(50% - 80px);
    bottom: -30px;
    display: flex;
}

.video-group__box__video__items__item {
    margin: 0 4px;
    width: 8px;
    height: 8px;
    background: #808080;
    opacity: 0.6;
    border-radius: 50%;
}

.video-group__box__video__items__item:first-child {
    background-color: #21201f;
    opacity: 1;
}

#video-group__title {
    visibility: hidden;
}

.content-group {
    width: 100%;
}

.content-group__box {
    margin: 0 auto;
    width: 1106px;
}

.content-group__box__box-content {
    position: sticky;
    z-index: 2;
    background: #ffffff;
    padding: 149px 93px 147px;
    border-radius: 56px;
    max-width: 1013px;
}

.content-group__box__text-title {
    font-family: YandexSansTextRegular-900;
    line-height: 70.4px;
    font-size: 64px;
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
}

.content-group__box__text {
    font-weight: 500;
    font-size: 22px;
    color: #21201F;
    font-family: YS Text, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 120%;
    width: 460px;
    padding: 16px 0 71px;
}

.content-group__box__text a {
    color: #21201F;
    padding-left: 0.2em;
}

.content-group__box__text a:hover {
    opacity: 0.6;
}

.content-group__box__card-icon {
    width: 83px;
    height: 83px;
    margin-bottom: 24px;
}

.content-group__box__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-group__box__cards__card {
    max-width: 362px;
    margin-bottom: 68px;
    width: 50%;
}

.content-group__box__card-title {
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
    font-size: 36px;
    font-family: YandexSansTextRegular-900;
    line-height: 39.6px;
}

.content-group__box__card-text {
    font-weight: 500;
    color: #21201f;
    letter-spacing: normal;
    font-size: 22px;
    font-family: YandexSansTextRegular-600;
    line-height: 28px;
    margin-top: 16px;
}

.help-group {
    position: relative;
    z-index: 3;
    background-color: #BFFFCD;
    width: 652px;
    padding: 85px 94px;
    border-radius: 56px;
    margin-top: -115px;
    margin-right: calc((100% - 1106px)/2);
    margin-left: auto;
    margin-bottom: 128px;
}

.help-group__icon {
    content: "";
    width: 112px;
    height: 112px;
    display: block;
    position: absolute;
    top: -53px;
    left: 94px;
    background-image: url(https://avatars.mds.yandex.net/get-lpc/1527204/e5defd8c-21da-4597-beb9-838f435304a6/orig);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.help-group__text {
    font-weight: 500;
    color: #21201F;
    font-family: YS Text, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    font-size: 32px;
    line-height: 42px;
}

.map-group {
    background: #ffffff;
    width: 100%;
    padding: 128px 0 30px;
    border-radius: 56px 56px 0 0;
}

.map-group__box {
    padding: 0 17px;
    margin: 0 auto;
    width: 954px;
    position: relative;
}

.map-group__box__text-title {
    font-family: YandexSansTextRegular-900;
    line-height: 70.4px;
    font-size: 64px;
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
}

.map-group__box__text {
    font-family: YandexSansTextRegular-600;
    line-height: 41.6px;
    font-size: 32px;
    margin: 0;
    padding: 32px 0 72px;
}

.download-group {
    background: #ffffff;
    width: 100%;
    padding: 100px 0 0;
}

.download-group__box {
    padding: 0 17px;
    margin: 0 auto;
    width: 954px;
    position: relative;
}

.download-group__box__text-title {
    max-width: 455px;
    margin: 0;
    font-family: YandexSansTextRegular-900;
    line-height: 70.4px;
    font-size: 64px;
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
}

.download-group__box__text {
    max-width: 455px;
    font-family: YandexSansTextRegular-600;
    line-height: 41.6px;
    font-size: 32px;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 48px;
}

.download-group__box__QR {
    width: 202px;
    height: 202px;
    margin-bottom: 160px;
}

.download-group__box__box-black {
    position: absolute;
    right: -76px;
    bottom: 0;
    width: 548px;
    height: 183px;
    border-radius: 56px 56px 0 0;
    background-color: #21201F;
}

.download-group__box__box-yelloy {
    width: 1063px;
    height: 108px;
    border-radius: 56px 56px 0 0;
    position: absolute;
    bottom: 0;
    left: -76px;
    background-color: #FFDE40;
}

.download-group__box__picture {
    width: 362px;
    height: 628px;
    position: absolute;
    bottom: 0;
    right: 17px;
}

footer {
    width: 100%;
    background: #fafafa;
    padding: 56px 0;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 954px;
    padding: 0 17px;
    margin: 0 auto;
    font-weight: 500;
    color: #21201f;
    font-family: YandexSansTextRegular-600;
    letter-spacing: normal;
    line-height: 16px;
    font-size: 13px;
}

.footer__left-box div:first-child a {
    text-decoration: none;
    color: #21201f;
}

.footer__left-box {
    max-width: 600px;
}

.footer__left-box div:last-child {
    margin-top: 1.25em;
}

.footer__left-box div:last-child a {
    color: #21201f;
}

.footer__right-box {
    height: 22px;
    display: flex;
    align-items: center;
}

.footer__right-box span:nth-child(2) {
    margin: 0 0.3em;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-light.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-thin.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-light.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-regular.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-medium.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-bold.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/display-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "YandexSansTextRegular-900";
    src: url("https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght-900.woff") format("woff");
    font-weight: 900;
}
  
@font-face {
    font-family: "YandexSansTextRegular-600";
    src: url("https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght600.woff") format("woff");
    font-weight: 600;
}