* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFDE40;
}

/* body::-webkit-scrollbar {
    display: none; */
/* } */

.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    padding: 0 17px;
    background-color: #FFDE40;
    z-index: 1;
}

.header__logo {
    width: 158px;
    height: 45px;
}

.header__ul {
    max-width: 772px;
    display: flex;
    flex-wrap: wrap;
    padding: 23px 20px;
    justify-content: center;
}

.header__ul-item {
    white-space: nowrap;
    cursor: pointer;
    margin-right: 16px;
}

.header__ul-item:last-child {
    margin: 0;
}

.header__ul-item a{
    text-decoration: none;
    font-family: YandexSansTextRegular-600;
    color: #21201f;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: YandexSansTextRegular-600;
    color: #ffffff;
    font-size: 20px;
    line-height: 45px;
    white-space: nowrap;
    border-radius: 18px;
    padding: 0 12px;
    background: #21201F;
    width: 176px;
    min-width: 105px;
    height: 45px;
}

.hero {
    margin-top: 147px;
    width: 954px;
    padding: 146px 17px 32px;
    position: relative;
}

.hero__name-visibility {
    visibility: hidden;
}

.hero__img-name {
    position: absolute;
    top: 146px;
    height: 100%;
    height: 286px;
}

.hero__text {
    position: absolute;
    top: 551px;
    max-width: 550px;
    font-weight: 600;
    color: #21201F;;
    letter-spacing: normal;
    font-family: YandexSansTextRegular-900;
    font-size: 36px;
    line-height: 39.6px;
}

.hero__img {
    position: absolute;
    width: 466px;
    height: 568px;
    top: 71px;
    right: 17px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: YandexSansTextRegular-600;
    width: 361px;
    height: 80px;
    margin: 486px 17px 0;
    color: #ffffff;
    background: #000000;
    font-size: 24px;
    text-decoration: none;
    border-radius: 24px;
}

.town__town-name {
    position: relative;
    width: 831px;
}

.town__town-text {
    padding: 67px 17px 48px;
    font-weight: 600;
    color: #21201F;
    letter-spacing: normal;
    line-height: 70px;
    font-family: YandexSansTextRegular-900;
    font-size: 64px;
}

.town__town-img {
    width: 115px;
    height: 76px;
    position: absolute;
    right: 17px;
    top: 15px;
}

.town__town-links {
    display: flex;
}

.town__town-link {
    margin: 0 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: YandexSansTextRegular-600;
    border-radius: 16px 16px 16px 16px;
    border: 3px solid #000000;
    font-weight: 600;
    font-size: 20px;
    color: #000;
    padding: 0 32px;
    height: 48px;
}

.content-group {
    border-radius: 56px 56px 0 0;
    width: 100%;
    padding: 146px 0 0;
}

.content-group__box {
    margin: 0 auto;
    width: 1106px;
    position: relative;
}

.content-group__box__box-content {
    background: #ffffff;
    padding: 149px 93px 147px;
    border-radius: 56px;
    max-width: 1013px;
}

.content-group__box__text-title {
    font-family: YandexSansTextRegular-900;
    line-height: 70.4px;
    font-size: 64px;
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
}

.content-group__box__text {
    font-weight: 500;
    font-size: 22px;
    color: #21201F;
    font-family: YS Text, Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    line-height: 120%;
    width: 460px;
    padding: 16px 0 71px;
}

.content-group__box__text a {
    color: #21201F;
    padding-left: 0.2em;
}

.content-group__box__card-icon {
    width: 83px;
    height: 83px;
    padding-bottom: 24px;
}

.map-group {
    background: #ffffff;
    width: 100%;
    padding: 128px 0 30px;
    border-radius: 56px 56px 0 0;
}

.map-group__box {
    padding: 0 17px;
    margin: 0 auto;
    width: 954px;
    position: relative;
}

.map-group__box__text-title {
    font-family: YandexSansTextRegular-900;
    line-height: 70.4px;
    font-size: 64px;
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
}

.map-group__box__text {
    font-family: YandexSansTextRegular-600;
    line-height: 41.6px;
    font-size: 32px;
    margin: 0;
    padding: 32px 0 72px;
}

.download-group {
    background: #ffffff;
    width: 100%;
    padding: 100px 0 0;
}

.download-group__box {
    padding: 0 17px;
    margin: 0 auto;
    width: 954px;
    position: relative;
}

.download-group__box__text-title {
    max-width: 455px;
    margin: 0;
    font-family: YandexSansTextRegular-900;
    line-height: 70.4px;
    font-size: 64px;
    font-weight: 600;
    color: #21201f;
    letter-spacing: normal;
}

.download-group__box__text {
    max-width: 455px;
    font-family: YandexSansTextRegular-600;
    line-height: 41.6px;
    font-size: 32px;
    margin: 0;
    padding-top: 32px;
    padding-bottom: 48px;
}

.download-group__box__QR {
    width: 202px;
    height: 202px;
    margin-bottom: 160px;
}

.download-group__box__box-black {
    position: absolute;
    right: -76px;
    bottom: 0;
    width: 548px;
    height: 183px;
    border-radius: 56px 56px 0 0;
    background-color: #21201F;
}

.download-group__box__box-yelloy {
    width: 1063px;
    height: 108px;
    border-radius: 56px 56px 0 0;
    position: absolute;
    bottom: 0;
    left: -76px;
    background-color: #FFDE40;
}

.download-group__box__picture {
    width: 362px;
    height: 628px;
    position: absolute;
    bottom: 0;
    right: 17px;
}

footer {
    width: 100%;
    background: #fafafa;
    padding: 56px 0;
    
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 954px;
    padding: 0 17px;
    margin: 0 auto;
    font-weight: 500;
    color: #21201f;
    font-family: YandexSansTextRegular-600;
    letter-spacing: normal;
    line-height: 16px;
    font-size: 13px;
}

.footer__left-box div:first-child a {
    text-decoration: none;
    color: #21201f;
}

.footer__left-box {
    max-width: 600px;
}

.footer__left-box div:last-child {
    margin-top: 1.25em;
}

.footer__left-box div:last-child a {
    color: #21201f;
}

.footer__right-box {
    height: 22px;
    display: flex;
    align-items: center;
}

.footer__right-box span:nth-child(2) {
    margin: 0 0.3em;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-light.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-light-italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-regular-italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-medium-italic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Text';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/text-bold-italic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-thin.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-light.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-regular.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-medium.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/4/display-bold.woff') format('woff'),url('https://yastatic.net/s3/home/fonts/ys/4/display-bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'YS Display';
    src: url('https://yastatic.net/s3/home/fonts/ys/1/display-heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: "YandexSansTextRegular-900";
    src: url("https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght-900.woff") format("woff");
    font-weight: 900;
}
  
@font-face {
    font-family: "YandexSansTextRegular-600";
    src: url("https://yastatic.net/s3/lpc-ext/static/_fonts/YandexSansTextRegular-wght600.woff") format("woff");
    font-weight: 600;
}